---
interface Props {
	severity: string | undefined;	
}

const { severity } = Astro.props;

const bgColor = severity  => {
    switch(severity)
    {
        case 'CRITICAL':
            return 'bg-red-900';
        case 'HIGH':
            return 'bg-red-500';
        case 'MODERATE':
            return 'bg-orange-500';
        case 'LOW':
            return 'bg-yellow-500';
        default: 
            return 'bg-green-500';
    }
        
}

---
<span class={`container ${bgColor(severity)} p-2 pt-1 pb-1 rounded-lg border-gray border-2`}>{severity}</span>