---
import type { Severity } from '../osv-schema';
interface Props {
	severity: Severity | undefined;	
}

const cvssV3Metrics = {
  type: "CVSS_V3",
  score: {
    AV: { // Attack Vector
      description: "Attack Vector",
      options: {
        N: "Network",
        A: "Adjacent",
        L: "Local",
        P: "Physical"
      }
    },
    AC: { // Attack Complexity
      description: "Attack Complexity",
      options: {
        L: "Low",
        H: "High"
      }
    },
    PR: { // Privileges Required
      description: "Privileges Required",
      options: {
        N: "None",
        L: "Low",
        H: "High"
      }
    },
    UI: { // User Interaction
      description: "User Interaction",
      options: {
        N: "None",
        R: "Required"
      }
    },
    S: { // Scope
      description: "Scope",
      options: {
        U: "Unchanged",
        C: "Changed"
      }
    },
    C: { // Confidentiality Impact
      description: "Confidentiality Impact",
      options: {
        N: "None",
        L: "Low",
        H: "High"
      }
    },
    I: { // Integrity Impact
      description: "Integrity Impact",
      options: {
        N: "None",
        L: "Low",
        H: "High"
      }
    },
    A: { // Availability Impact
      description: "Availability Impact",
      options: {
        N: "None",
        L: "Low",
        H: "High"
      }
    }
  }
};

const { severity } = Astro.props;


---
<div class="grid grid-cols-2">
    <div class="col-span-2">{severity![0]?.type}</div>
    {
        severity && severity[0]?.score.split('/').map(s => {
            
            var ss = s.split(":");
            
            
            if (cvssV3Metrics.score && cvssV3Metrics.score.hasOwnProperty(ss[0]))
            {
                var o = (cvssV3Metrics.score as any)[ss[0]]
                if (o)
                {
                    return <><div>{o.description}</div><div>{(o.options as any)[ss[1]]}</div></>
                }
                
            }
           
        })}
    <div class="col-span-2">{severity![0]?.score}</div>
</div>
